<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.submisi5">

    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />

    <permission android:name="com.example.submisi5.READ_DATABASE" />
    <permission android:name="com.example.submisi5.WRITE_DATABASE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".widget.FavoriteWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favorite_widget_info" />
        </receiver>
        <activity
            android:name=".Activity.SearchMovieTv"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.SettingsActivity" />
        <provider
            android:name=".provider.Provider"
            android:authorities="com.example.submisi5"
            android:exported="true"
            android:readPermission="com.example.submisi5.READ_DATABASE"
            android:writePermission="com.example.submisi5.WRITE_DATABASE" />
        <activity android:name=".Activity.DetailActivity" />
        <activity android:name=".Activity.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".notif.release_reciever" />
        <receiver android:name=".notif.daily_reciever"/>
        <service android:name=".widget.StackWidgetServices"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
    </application>

</manifest>